In [1]:
import requests
import json
import pandas as pd
from pprint import pprint

In [2]:
# Gather purchased ticket data (eceonomy class) from the last 48 hours
hubs=["ATL","NYC","HKG","CDG","GIG","JNB"]
# leaving [Atlanta, New York City, Hong Kong, Paris, Rio de Janiero, Johannesburg]

# Desired data
prices=[]
origins=[]
destinations=[]
distances=[]
departs=[]
returns=[]
purchases=[]
directs=[]
cheapests=[]
# transfers=[]


# Request up to 500 flights from each hub 
for hub in hubs:
    print(f"Searching flights out of {hub}")
    prices_url=f"http://api.travelpayouts.com/v2/prices/latest?currency=usd&limit=500&origin={hub}"
    headers = {"X-Access-Token": "f2b1a8fac25474496ea091529cddd0ec",
             }
    prices_data = requests.get(prices_url, headers=headers).json()

    for i in prices_data["data"]:
        destination=i["destination"]
        depart=i["depart_date"]
        returnon=i["return_date"]
#       Pull data for cheapest direct flight of the same parameters
        direct_data = requests.get(f"http://api.travelpayouts.com/v1/prices/direct?currency=USD&origin={hub}&destination={destination}&depart_date={depart}&return_date={returnon}", headers=headers).json()
        try:
            direct=direct_data["data"][destination]["0"]["price"]
        except:
            direct=float('nan')    
        directs.append(direct)
#       Pull data for cheapest flight (allowing layovers) of the same parameters
        cheap_data = requests.get(f"http://api.travelpayouts.com/v1/prices/cheap?currency=USD&origin={hub}&destination={destination}&depart_date={depart}&return_date={returnon}", headers=headers).json()
        try:
            cheapest=cheap_data["data"][destination]["0"]["price"]
        except:
            cheapest=float('nan')
        print(f"From {hub} to {destination}.")
        cheapests.append(cheapest)
        prices.append(i["value"])
        origins.append(hub)
        destinations.append(destination)
        distances.append(int(int(i["distance"])//1.609)) #convert km to miles
        departs.append(depart)
        purchases.append(i["found_at"])
        returns.append(returnon)

# Store data into dataframe 
prices_df=pd.DataFrame({"Origin":origins,
                        "Destination":destinations,
                        "Distance (Miles)":distances,
                        "Departure Date":departs,
                        "Return Date":returns,
                        "Price (USD)":prices,
                        "Cheapest Direct Price":directs,
                        "Cheapest Price":cheapests,
#                         "Layovers":transfers,
                        "Purchase Time":purchases
                       })

Searching flights out of ATL
From ATL to ORL.
From ATL to BWI.
From ATL to MSY.
From ATL to DTT.
From ATL to FLL.
From ATL to TPA.
From ATL to HOU.
From ATL to DFW.
From ATL to BOS.
From ATL to MIA.
From ATL to CHI.
From ATL to MSP.
From ATL to PHL.
From ATL to NYC.
From ATL to MLB.
From ATL to LAS.
From ATL to TLH.
From ATL to DEN.
From ATL to DAB.
From ATL to CLE.
From ATL to RIC.
From ATL to GRR.
From ATL to CLT.
From ATL to STL.
From ATL to WAS.
From ATL to MKC.
From ATL to BNA.
From ATL to IND.
From ATL to BDL.
From ATL to SAT.
From ATL to LAX.
From ATL to BQN.
From ATL to SJU.
From ATL to PBI.
From ATL to RDU.
From ATL to AUS.
From ATL to SYR.
From ATL to CVG.
From ATL to PIT.
From ATL to SEA.
From ATL to VPS.
From ATL to SAC.
From ATL to LEX.
From ATL to PHX.
From ATL to SJC.
From ATL to ISP.
From ATL to OKC.
From ATL to ELP.
From ATL to YVR.
From ATL to ORH.
From ATL to SLC.
From ATL to SAN.
From ATL to BUF.
From ATL to PVR.
From ATL to YMQ.
From ATL to ORF.
From ATL to PWM.
From ATL to OAK.
From ATL to MEX.
From ATL to GNV.
From ATL to ZSH.
From ATL to STT.
From ATL to SFO.
From ATL to PDX.
From ATL to CUN.
From ATL to YTO.
From ATL to HAV.
From ATL to SJO.
From ATL to GEG.
From ATL to PNS.
From ATL to MKE.
From ATL to FMY.
From ATL to BOG.
From ATL to LIH.
From ATL to NAS.
From ATL to MDE.
From ATL to HNL.
From ATL to COS.
From ATL to GPT.
From ATL to BDA.
From ATL to REK.
From ATL to ACT.
From ATL to MBJ.
From ATL to MIL.
From ATL to IPT.
From ATL to ONT.
From ATL to MAD.
From ATL to KIN.
From ATL to GSO.
From ATL to PAR.
From ATL to BGI.
From ATL to LON.
From ATL to HAR.
From ATL to GDL.
From ATL to POS.
From ATL to BJX.
From ATL to BRU.
From ATL to MLU.
From ATL to ROM.
From ATL to AUA.
From ATL to AMS.
From ATL to MLA.
From ATL to ZRH.
From ATL to MVY.
From ATL to MUC.
From ATL to PUJ.
From ATL to BJS.
From ATL to ABQ.
From ATL to GLA.
From ATL to SJD.
From ATL to TPE.
From ATL to OGG.
From ATL to MFR.
From ATL to CTG.
From ATL to SNN.
From ATL to CAI.
From ATL to OSL.
From ATL to SDQ.
From ATL to ROA.
From ATL to BRQ.
From ATL to PTY.
From ATL to CLO.
From ATL to PRG.
From ATL to MOW.
From ATL to TGZ.
From ATL to MAN.
From ATL to DXB.
From ATL to BOM.
From ATL to HEL.
From ATL to STI.
From ATL to IEV.
From ATL to LPB.
From ATL to BCN.
From ATL to BTR.
From ATL to FRA.
From ATL to TYO.
From ATL to ATH.
From ATL to NCE.
From ATL to YDF.
From ATL to BEY.
From ATL to CAS.
From ATL to ODS.
From ATL to AUH.
From ATL to WAW.
From ATL to BZE.
From ATL to BKK.
From ATL to DAC.
From ATL to ABV.
From ATL to HKG.
From ATL to JKT.
From ATL to BUH.
From ATL to CPH.
From ATL to SYD.
From ATL to TLV.
From ATL to MNL.
From ATL to NNG.
From ATL to GOJ.
From ATL to SIN.
From ATL to DVO.
From ATL to BUR.
From ATL to NBO.
From ATL to JNB.
From ATL to SGN.
From ATL to LOS.
From ATL to MEL.
From ATL to DEL.
From ATL to CPT.
From ATL to TUN.
From ATL to ADD.
From ATL to COK.
From ATL to THR.
From ATL to ACC.
From ATL to SAO.
From ATL to SOF.
From ATL to KOA.
From ATL to AMD.
From ATL to IZM.
From ATL to MAA.
From ATL to HYD.
From ATL to ITO.
From ATL to ZAG.
From ATL to KTM.
From ATL to KHE.
From ATL to BLR.
From ATL to PMW.
From ATL to BSB.
From ATL to JHM.
From ATL to JRO.
From ATL to HAN.
From ATL to LFW.
From ATL to KRR.
From ATL to GYN.
From ATL to JTR.
From ATL to MLW.
From ATL to OUA.
From ATL to LDB.
From ATL to SHA.
From ATL to HER.
From ATL to SEL.
From ATL to JMK.
From ATL to NAG.
From ATL to TAE.
From ATL to TSR.
From ATL to PDP.
Searching flights out of NYC
From NYC to FLL.
From NYC to ORL.
From NYC to MIA.
From NYC to CHI.
From NYC to DEN.
From NYC to MYR.
From NYC to DFW.
From NYC to WAS.
From NYC to SYR.
From NYC to SAV.
From NYC to ATL.
From NYC to ROC.
From NYC to CLT.
From NYC to BOS.
From NYC to MSY.
From NYC to HOU.
From NYC to RDU.
From NYC to TYS.
From NYC to DTT.
From NYC to YTO.
From NYC to ORF.
From NYC to PIT.
From NYC to BUF.
From NYC to MSP.
From NYC to LAS.
From NYC to BNA.
From NYC to PBI.
From NYC to CHA.
From NYC to OKC.
From NYC to JAX.
From NYC to CLE.
From NYC to LAX.
From NYC to IND.
From NYC to TPA.
From NYC to OMA.
From NYC to AVL.
From NYC to CMH.
From NYC to YMQ.
From NYC to RIC.
From NYC to MEX.
From NYC to GSO.
From NYC to REK.
From NYC to SAT.
From NYC to AUS.
From NYC to FDF.
From NYC to SLC.
From NYC to BQN.
From NYC to CHS.
From NYC to PDX.
From NYC to SRQ.
From NYC to SAN.
From NYC to PHL.
From NYC to SJU.
From NYC to RNO.
From NYC to CUN.
From NYC to SDQ.
From NYC to PHX.
From NYC to FMY.
From NYC to SFO.
From NYC to YHZ.
From NYC to SEA.
From NYC to LEX.
From NYC to ILM.
From NYC to STL.
From NYC to CVG.
From NYC to GSP.
From NYC to TUL.
From NYC to OAK.
From NYC to BUR.
From NYC to ONT.
From NYC to BTV.
From NYC to DAB.
From NYC to BGI.
From NYC to PAR.
From NYC to YWG.
From NYC to BWI.
From NYC to ASE.
From NYC to GRR.
From NYC to BCN.
From NYC to GNV.
From NYC to AMS.
From NYC to SAP.
From NYC to MKE.
From NYC to SJC.
From NYC to CPH.
From NYC to OSL.
From NYC to SNA.
From NYC to GEG.
From NYC to BRU.
From NYC to HAV.
From NYC to BDA.
From NYC to ROM.
From NYC to EYW.
From NYC to SAC.
From NYC to SJO.
From NYC to LGB.
From NYC to CAE.
From NYC to LON.
From NYC to ROA.
From NYC to ILE.
From NYC to CUR.
From NYC to STI.
From NYC to PLS.
From NYC to CTG.
From NYC to ELP.
From NYC to PAP.
From NYC to YYC.
From NYC to LIT.
From NYC to CKB.
From NYC to MBJ.
From NYC to STO.
From NYC to YVR.
From NYC to MFR.
From NYC to GUA.
From NYC to SJD.
From NYC to YQB.
From NYC to PNS.
From NYC to BFF.
From NYC to SNU.
From NYC to POP.
From NYC to PUJ.
From NYC to FRA.
From NYC to DUB.
From NYC to SXM.
From NYC to TLL.
From NYC to KIN.
From NYC to FAT.
From NYC to MAD.
From NYC to GCM.
From NYC to MOW.
From NYC to PTY.
From NYC to FWA.
From NYC to PGD.
From NYC to SAL.
From NYC to MID.
From NYC to YLW.
From NYC to POS.
From NYC to DSM.
From NYC to GFK.
From NYC to NAS.
From NYC to BOG.
From NYC to UIO.
From NYC to LED.
From NYC to FOC.
From NYC to JAC.
From NYC to ZRH.
From NYC to SNN.
From NYC to MTJ.
From NYC to LIS.
From NYC to AUA.
From NYC to CEB.
From NYC to WAW.
From NYC to VIE.
From NYC to BER.
From NYC to LUX.
From NYC to PUW.
From NYC to ANC.
From NYC to MNL.
From NYC to CLO.
From NYC to STT.
From NYC to TPE.
From NYC to OKA.
From NYC to GCN.
From NYC to MOB.
From NYC to MLM.
From NYC to MIL.
From NYC to CGN.
From NYC to IEV.
From NYC to SHA.
From NYC to SZX.
From NYC to VLC.
From NYC to CKG.
From NYC to BJS.
From NYC to DEL.
From NYC to RIX.
From NYC to IST.
From NYC to BUD.
From NYC to BKK.
From NYC to ZAG.
From NYC to TYO.
From NYC to BLQ.
From NYC to GVA.
From NYC to ATH.
From NYC to KUL.
From NYC to MDE.
From NYC to SHE.
From NYC to CTA.
From NYC to DBV.
From NYC to TUN.
From NYC to HEL.
From NYC to SIN.
From NYC to KRK.
From NYC to GYE.
From NYC to CAN.
From NYC to BUH.
From NYC to SEL.
From NYC to AGS.
From NYC to DPS.
From NYC to SGN.
From NYC to BZE.
From NYC to EAP.
From NYC to SVQ.
From NYC to PRG.
From NYC to JKT.
From NYC to MSQ.
From NYC to WNZ.
From NYC to HKG.
From NYC to HAM.
From NYC to HKT.
From NYC to BOM.
From NYC to PSE.
From NYC to BJX.
From NYC to SLU.
From NYC to EVN.
From NYC to ODS.
From NYC to BAQ.
From NYC to RAK.
From NYC to TSE.
From NYC to LIM.
From NYC to TIA.
From NYC to LWO.
From NYC to FLR.
From NYC to SAO.
From NYC to SJJ.
From NYC to DUS.
From NYC to RTB.
From NYC to TLV.
From NYC to CMB.
From NYC to HOG.
From NYC to PUS.
From NYC to GGT.
From NYC to NCE.
From NYC to HNL.
From NYC to MEI.
From NYC to MUC.
From NYC to VCE.
From NYC to TBS.
From NYC to OSA.
From NYC to TLS.
From NYC to DXB.
From NYC to SKP.
From NYC to MFE.
From NYC to KIV.
From NYC to LCG.
From NYC to VGO.
From NYC to AYT.
From NYC to OPO.
From NYC to GEO.
From NYC to LYS.
From NYC to SVX.
From NYC to CCS.
From NYC to CAS.
From NYC to ALG.
From NYC to CCU.
From NYC to PTP.
From NYC to HYS.
From NYC to BEY.
From NYC to SKD.
From NYC to NUE.
From NYC to JMK.
From NYC to KGD.
From NYC to OGG.
From NYC to SIP.
From NYC to COS.
From NYC to TAS.
From NYC to EDI.
From NYC to AMM.
From NYC to BGA.
From NYC to AGP.
From NYC to SCL.
From NYC to FRU.
From NYC to PSO.
From NYC to LPB.
From NYC to BUE.
From NYC to CAI.

From NYC to PIU.
From NYC to GDL.
From NYC to GRZ.
From NYC to ROV.
From NYC to SKG.
From NYC to CUZ.
From NYC to HAN.
From NYC to SSH.
From NYC to PSC.
From NYC to BAK.
From NYC to BHZ.
From NYC to HER.
From NYC to KUF.
From NYC to CNY.
From NYC to RIO.
From NYC to ISB.
From NYC to SSA.
From NYC to ATQ.
From NYC to ALA.
From NYC to DAD.
From NYC to JAU.
From NYC to LHE.
From NYC to DAC.
From NYC to IXE.
From NYC to HRK.
From NYC to CPT.
From NYC to JNU.
From NYC to KRR.
From NYC to MDZ.
From NYC to MRV.
From NYC to SCQ.
From NYC to BOD.
From NYC to AER.
From NYC to SRZ.
From NYC to MAA.
From NYC to KTM.
From NYC to ASU.
From NYC to CKY.
From NYC to MLW.
From NYC to LOS.
From NYC to MLE.
From NYC to ITO.
From NYC to ORK.
From NYC to PEI.
From NYC to VOZ.
From NYC to OVB.
From NYC to ACC.
From NYC to TRV.
From NYC to BLR.
From NYC to KGF.
From NYC to LCA.
From NYC to ADD.
From NYC to KHI.
From NYC to MEL.
From NYC to ABJ.
From NYC to MVD.
From NYC to COK.
From NYC to BTS.
From NYC to JED.
From NYC to MED.
From NYC to DKR.
From NYC to ABV.
From NYC to PLQ.
From NYC to TGD.
From NYC to AMD.
From NYC to JTR.
From NYC to NUX.
From NYC to CGO.
From NYC to CGR.
From NYC to AXM.
From NYC to CAY.
From NYC to HYD.
From NYC to KZN.
From NYC to ACE.
From NYC to SHJ.
From NYC to LEJ.
From NYC to CJB.
From NYC to LFW.
From NYC to POA.
From NYC to OZH.
From NYC to SVD.
From NYC to SYD.
From NYC to FOR.
From NYC to ADA.
From NYC to RUH.
From NYC to OUA.
From NYC to CHQ.
From NYC to USM.
From NYC to KWI.
From NYC to LKO.
From NYC to VVO.
From NYC to NBO.
From NYC to ADZ.
From NYC to KJA.
From NYC to RZE.
From NYC to FNA.
From NYC to KBL.
From NYC to BJL.
From NYC to CNS.
From NYC to KUT.
From NYC to BKO.
From NYC to PEW.
From NYC to PSR.
From NYC to SKT.
From NYC to BPN.
From NYC to GBE.
From NYC to ILO.
From NYC to NJF.
From NYC to SIA.
From NYC to DTM.
From NYC to IPC.
From NYC to ASB.
From NYC to TCQ.
From NYC to RAI.
From NYC to HTA.
From NYC to URT.
From NYC to KHH.
From NYC to LUN.
From NYC to CFU.
From NYC to BNE.
From NYC to DYU.
From NYC to GUM.
From NYC to PHC.
From NYC to RAR.
From NYC to WDH.
Searching flights out of HKG
From HKG to RMQ.
From HKG to DAD.
From HKG to JJN.
From HKG to PNH.
From HKG to CNX.
From HKG to HKT.
From HKG to MNL.
From HKG to XMN.
From HKG to FOC.
From HKG to SGN.
From HKG to REP.
From HKG to CEB.
From HKG to OSA.
From HKG to TPE.
From HKG to BKK.
From HKG to KUL.
From HKG to SIN.
From HKG to TYO.
From HKG to SEL.
From HKG to SHA.
From HKG to KHH.
From HKG to FUK.
From HKG to SYX.
From HKG to BJS.
From HKG to HAN.
From HKG to TNN.
From HKG to NKG.
From HKG to BKI.
From HKG to PPS.
From HKG to MPH.
From HKG to NGB.
From HKG to CTU.
From HKG to NHA.
From HKG to KMG.
From HKG to HUN.
From HKG to UTP.
From HKG to NCP.
From HKG to KLO.
From HKG to LGK.
From HKG to INC.
From HKG to KCH.
From HKG to PQC.
From HKG to RGN.
From HKG to SUB.
From HKG to PUS.
From HKG to USM.
From HKG to OKA.
From HKG to JKT.
From HKG to DPS.
From HKG to CAN.
From HKG to VVO.
From HKG to OKJ.
From HKG to TTT.
From HKG to CJU.
From HKG to IKT.
From HKG to MAA.
From HKG to GUM.
From HKG to TAK.
From HKG to CMB.
From HKG to HIJ.
From HKG to KOJ.
From HKG to LUM.
From HKG to HAK.
From HKG to SYD.
From HKG to OVB.
From HKG to ILO.
From HKG to ATQ.
From HKG to MOW.
From HKG to PER.
From HKG to DEL.
From HKG to PNK.
From HKG to MLE.
From HKG to DXB.
From HKG to SPK.
From HKG to KTM.
From HKG to LAX.
From HKG to BOM.
From HKG to BLR.
From HKG to KMQ.
From HKG to PAR.
From HKG to SFO.
From HKG to DUB.
From HKG to YVR.
From HKG to HOU.
From HKG to AMS.
From HKG to NYC.
From HKG to ORF.
From HKG to LED.
From HKG to LXA.
From HKG to LON.
From HKG to MEL.
From HKG to TRV.
From HKG to FRA.
From HKG to BRU.
From HKG to AKL.
From HKG to MUC.
From HKG to IST.
From HKG to BNE.
From HKG to ATH.
From HKG to TLV.
From HKG to SVX.
From HKG to ALA.
From HKG to NAN.
From HKG to GOI.
From HKG to PEE.
From HKG to HBA.
From HKG to PRG.
From HKG to BOS.
From HKG to YTO.
From HKG to ROV.
From HKG to BER.
From HKG to DUS.
From HKG to NGO.
From HKG to VCE.
From HKG to MAN.
From HKG to TSE.
From HKG to LJU.
From HKG to HRE.
From HKG to NTL.
From HKG to ZQN.
From HKG to STR.
From HKG to TUN.
From HKG to REK.
From HKG to AMM.
From HKG to LUN.
From HKG to NBC.
From HKG to MRU.
From HKG to CGN.
From HKG to CPT.
From HKG to HAV.
From HKG to ATL.
From HKG to PPT.
From HKG to ORL.
From HKG to DOM.
Searching flights out of CDG
From CDG to MIL.
From CDG to BCN.
From CDG to LON.
From CDG to PRG.
From CDG to BER.
From CDG to OPO.
From CDG to BIQ.
From CDG to VCE.
From CDG to MAD.
From CDG to MAN.
From CDG to LIS.
From CDG to VIE.
From CDG to TLS.
From CDG to NCE.
From CDG to ROM.
From CDG to PMI.
From CDG to SPU.
From CDG to MLA.
From CDG to AMS.
From CDG to BUD.
From CDG to OSL.
From CDG to WAW.
From CDG to CTA.
From CDG to EIN.
From CDG to EAP.
From CDG to SOF.
From CDG to DUS.
From CDG to MUC.
From CDG to LYS.
From CDG to MPL.
From CDG to MRS.
From CDG to BOD.
From CDG to RAK.
From CDG to BHX.
From CDG to GVA.
From CDG to STO.
From CDG to CPH.
From CDG to BES.
From CDG to BUH.
From CDG to AGP.
From CDG to IEV.
From CDG to ATH.
From CDG to BRU.
From CDG to OVD.
From CDG to TCI.
From CDG to ALG.
From CDG to FLR.
From CDG to IST.
From CDG to CFU.
From CDG to TRN.
From CDG to STR.
From CDG to ZRH.
From CDG to SVQ.
From CDG to ALC.
From CDG to VNO.
From CDG to HAM.
From CDG to FAO.
From CDG to DUB.
From CDG to REK.
From CDG to MOW.
From CDG to DJE.
From CDG to TUN.
From CDG to HER.
From CDG to TLN.
From CDG to SKG.
From CDG to HEL.
From CDG to PMO.
From CDG to BGO.
From CDG to PSA.
From CDG to TNG.
From CDG to BIA.
From CDG to GDN.
From CDG to TLV.
From CDG to TLL.
From CDG to TIA.
From CDG to KRK.
From CDG to BEY.
From CDG to DBV.
From CDG to LED.
From CDG to AJA.
From CDG to NAP.
From CDG to TGD.
From CDG to SJJ.
From CDG to JMK.
From CDG to RIX.
From CDG to THR.
From CDG to ZAG.
From CDG to RBA.
From CDG to TBS.
From CDG to BRI.
From CDG to FSC.
From CDG to AGA.
From CDG to ODS.
From CDG to BLQ.
From CDG to CGN.
From CDG to MSQ.
From CDG to FRA.
From CDG to KUT.
From CDG to LWO.
From CDG to OUD.
From CDG to RHO.
From CDG to CLY.
From CDG to SKP.
From CDG to EDI.
From CDG to CAS.
From CDG to ORN.
From CDG to FNC.
From CDG to CAI.
From CDG to CAG.
From CDG to BOS.
From CDG to FUE.
From CDG to JTR.
From CDG to BJA.
From CDG to OLB.
From CDG to ORK.
From CDG to IBZ.
From CDG to BLJ.
From CDG to CZL.
From CDG to AAE.
From CDG to CLJ.
From CDG to NYC.
From CDG to CHQ.
From CDG to YTO.
From CDG to BEG.
From CDG to NDR.
From CDG to LCA.
From CDG to BSK.
From CDG to AMM.
From CDG to KRN.
From CDG to KRR.
From CDG to VRN.
From CDG to BDS.
From CDG to CWC.
From CDG to KIV.
From CDG to ASF.
From CDG to BAK.
From CDG to CWL.
From CDG to TLM.
From CDG to MCX.
From CDG to RVN.
From CDG to EVN.
From CDG to BFS.
From CDG to OVB.
From CDG to MIA.
From CDG to AYT.
From CDG to YMQ.
From CDG to LPA.
From CDG to FLL.
From CDG to VIL.
From CDG to KGD.
From CDG to SFO.
From CDG to TSE.
From CDG to KUF.
From CDG to HTY.
From CDG to ACE.
From CDG to MIR.
From CDG to DXB.
From CDG to CHI.
From CDG to VGO.
From CDG to GLA.
From CDG to KLF.
From CDG to ALA.
From CDG to SIP.
From CDG to ROV.
From CDG to CEK.
From CDG to ERZ.
From CDG to AER.
From CDG to LAX.
From CDG to PTP.
From CDG to GRV.
From CDG to FEZ.
From CDG to KRT.
From CDG to TPE.
From CDG to FDF.
From CDG to DEL.
From CDG to QSF.
From CDG to ASR.
From CDG to MCT.
From CDG to DKR.
From CDG to SHJ.
From CDG to KCO.
From CDG to VAN.
From CDG to ABJ.
From CDG to HKG.
From CDG to OUA.
From CDG to OAK.
From CDG to ORL.
From CDG to FRU.
From CDG to MAA.
From CDG to HKT.
From CDG to DLA.
From CDG to BOM.
From CDG to HRG.
From CDG to FIH.
From CDG to AUH.
From CDG to SIN.
From CDG to BUS.
From CDG to SHA.
From CDG to ACC.
From CDG to ALY.
From CDG to YAO.
From CDG to SEL.
From CDG to EBB.
From CDG to YQB.
From CDG to BKK.
From CDG to JSI.
From CDG to MNL.
From CDG to NOZ.
From CDG to NBO.
From CDG to JKT.
From CDG to GZP.
From CDG to FOC.
From CDG to CMB.
From CDG to KUL.
From CDG to SNN.
From CDG to LXR.
From CDG to WAS.
From CDG to DAR.
From CDG to SGN.
From CDG to COO.

From CDG to SZX.
From CDG to TYO.
From CDG to RUN.
From CDG to HAV.
From CDG to ZNZ.
From CDG to CKY.
From CDG to BKO.
From CDG to CCU.
From CDG to CEB.
From CDG to TPA.
From CDG to RAI.
From CDG to KTM.
From CDG to SEA.
From CDG to KLX.
From CDG to DAC.
From CDG to TAT.
From CDG to BVC.
From CDG to LAS.
From CDG to DPS.
From CDG to TAS.
From CDG to ULY.
From CDG to CUN.
From CDG to PNH.
From CDG to SAO.
From CDG to OKA.
From CDG to PUJ.
From CDG to LHE.
From CDG to IKT.
From CDG to RIO.
From CDG to SVX.
From CDG to LOS.
From CDG to BOJ.
From CDG to HAN.
From CDG to RMI.
From CDG to BHZ.
From CDG to RGN.
From CDG to KZN.
From CDG to SNU.
From CDG to PDX.
From CDG to MEX.
From CDG to LFW.
From CDG to MED.
From CDG to SEZ.
From CDG to BJS.
From CDG to PTY.
From CDG to RMQ.
From CDG to BUE.
From CDG to PAP.
From CDG to NAS.
From CDG to BGI.
From CDG to YVA.
From CDG to ISB.
From CDG to CNX.
From CDG to KMQ.
From CDG to SXM.
From CDG to ATL.
From CDG to IXC.
From CDG to OSA.
From CDG to DFW.
From CDG to MRU.
From CDG to SSA.
From CDG to PLZ.
From CDG to ZHA.
From CDG to SID.
From CDG to MSY.
From CDG to JNB.
From CDG to UFA.
From CDG to CPT.
From CDG to BGF.
From CDG to GND.
From CDG to HOG.
From CDG to TNR.
From CDG to LIM.
From CDG to MDE.
From CDG to SJO.
From CDG to FOR.
From CDG to GUA.
From CDG to CMH.
From CDG to NDJ.
From CDG to BZV.
From CDG to AKL.
From CDG to BOG.
From CDG to UIO.
From CDG to MSP.
From CDG to SYD.
From CDG to AEY.
From CDG to VRA.
From CDG to KHI.
From CDG to SCL.
From CDG to MVD.
From CDG to FNA.
From CDG to ZIH.
From CDG to SAP.
From CDG to DZA.
From CDG to MEL.
From CDG to SAN.
From CDG to NHA.
From CDG to SBH.
From CDG to TRU.
From CDG to MEC.
From CDG to OMO.
From CDG to RTB.
From CDG to KBV.
From CDG to ISP.
From CDG to SRZ.
From CDG to NOS.
From CDG to LIH.
From CDG to SCU.
From CDG to USM.
From CDG to GDL.
From CDG to SCY.
From CDG to CPR.
From CDG to JAC.
From CDG to CHC.
From CDG to RRG.
From CDG to NAN.
From CDG to CPC.
From CDG to NOU.
From CDG to PPT.
From CDG to CAY.
From CDG to SVD.
From CDG to BOB.
Searching flights out of GIG
From GIG to BSB.
From GIG to SAO.
From GIG to FLN.
From GIG to IGU.
From GIG to CWB.
From GIG to BEL.
From GIG to CGR.
From GIG to VIX.
From GIG to POA.
From GIG to NVT.
From GIG to UDI.
From GIG to JOI.
From GIG to PMW.
From GIG to GYN.
From GIG to MAO.
From GIG to SSA.
From GIG to REC.
From GIG to BUE.
From GIG to SLZ.
From GIG to FOR.
From GIG to JPA.
From GIG to MCZ.
From GIG to MCP.
From GIG to SJP.
From GIG to SCL.
From GIG to BHZ.
From GIG to PNZ.
From GIG to BPS.
From GIG to NAT.
From GIG to CAC.
From GIG to MGF.
From GIG to CPV.
From GIG to MVD.
From GIG to AJU.
From GIG to CUN.
From GIG to MIA.
From GIG to LIM.
From GIG to ADZ.
From GIG to UIO.
From GIG to FLL.
From GIG to BOG.
From GIG to ORL.
From GIG to BOS.
From GIG to PTY.
From GIG to PAR.
From GIG to YTO.
From GIG to ROM.
From GIG to CTG.
From GIG to BCN.
From GIG to AMS.
From GIG to NYC.
From GIG to GVA.
From GIG to LON.
From GIG to LIS.
From GIG to MIL.
From GIG to FEN.
From GIG to ATH.
From GIG to OPO.
From GIG to LAX.
From GIG to BRU.
From GIG to PDP.
From GIG to DUB.
From GIG to BER.
From GIG to YEA.
From GIG to VIE.
From GIG to LAS.
From GIG to ZRH.
From GIG to MAD.
From GIG to FEZ.
From GIG to IST.
From GIG to VCE.
From GIG to MOW.
From GIG to TLV.
From GIG to BKK.
From GIG to MRU.
From GIG to AUH.
From GIG to MSY.
From GIG to DXB.
From GIG to LED.
From GIG to YHZ.
From GIG to TYO.
From GIG to SYD.
From GIG to MNL.
From GIG to SVX.
Searching flights out of JNB
From JNB to DUR.
From JNB to CPT.
From JNB to ELS.
From JNB to PLZ.
From JNB to GRJ.
From JNB to BFN.
From JNB to HRE.
From JNB to MPM.
From JNB to LVI.
From JNB to UTT.
From JNB to WDH.
From JNB to KGL.
From JNB to BUQ.
From JNB to VFA.
From JNB to LUN.
From JNB to BOM.
From JNB to LOS.
From JNB to DXB.
From JNB to NBO.
From JNB to MUB.
From JNB to ZNZ.
From JNB to IST.
From JNB to MRU.
From JNB to LLW.
From JNB to VNX.
From JNB to CAI.
From JNB to SAO.
From JNB to SEZ.
From JNB to PAR.
From JNB to MBA.
From JNB to ACC.
From JNB to KRT.
From JNB to POL.
From JNB to BKK.
From JNB to TNR.
From JNB to CAN.
From JNB to HKT.
From JNB to LON.
From JNB to HYD.
From JNB to ALG.
From JNB to CPH.
From JNB to ABJ.
From JNB to IBZ.
From JNB to TLV.
From JNB to ROM.
From JNB to DEL.
From JNB to BCN.
From JNB to DUB.
From JNB to MIL.
From JNB to TLL.
From JNB to MLA.
From JNB to HEL.
From JNB to BHX.
From JNB to MSQ.
From JNB to MCT.
From JNB to DKR.
From JNB to KHI.
From JNB to AMS.
From JNB to MAN.
From JNB to LED.
From JNB to KUL.
From JNB to HKG.
From JNB to DPS.
From JNB to JKT.
From JNB to LHE.
From JNB to BEY.
From JNB to IEV.
From JNB to ORK.
From JNB to NYC.
From JNB to HAN.
From JNB to MOW.
From JNB to CHI.
From JNB to WAS.
From JNB to EDI.
From JNB to OUA.
From JNB to SGN.
From JNB to TYO.
From JNB to PER.
From JNB to LAX.
From JNB to YMQ.
From JNB to RRG.
From JNB to SPU.
From JNB to HOU.
From JNB to AMM.
From JNB to ZRH.
From JNB to BAK.
From JNB to SHE.
From JNB to GLA.
From JNB to CEB.
From JNB to AKL.
From JNB to CHC.
From JNB to YVR.
From JNB to LIM.
From JNB to HBA.
From JNB to SYD.
From JNB to DEN.
From JNB to USM.
From JNB to DTT.
From JNB to ORL.
From JNB to KOS.
From JNB to KIN.
From JNB to CUN.
From JNB to HLE.
From JNB to CHQ.

In [3]:
# Display price data
prices_df

,Origin,Destination,Distance (Miles),Departure Date,Return Date,Price (USD),Cheapest Direct Price,Cheapest Price,Purchase Time
0,ATL,ORL,402,2018-11-07,2018-11-14,38.99,45.0,45.0,2018-10-02T16:50:02
1,ATL,BWI,577,2018-10-27,2018-10-29,90.19,87.0,87.0,2018-10-01T23:45:50
2,ATL,MSY,424,2018-11-11,2018-11-14,91.39,88.0,88.0,2018-10-02T06:08:48
3,ATL,DTT,598,2018-11-03,2018-11-05,92.40,89.0,89.0,2018-10-01T03:43:40
4,ATL,FLL,585,2018-10-27,2018-10-30,102.42,NaN,NaN,2018-10-01T14:19:38
5,ATL,TPA,417,2018-10-10,2018-10-15,104.37,101.0,101.0,2018-10-02T04:20:38
6,ATL,HOU,702,2018-11-02,2018-11-04,108.37,106.0,106.0,2018-10-02T15:30:10
7,ATL,DFW,718,2018-12-15,2018-12-17,109.39,105.0,105.0,2018-10-02T12:14:55
8,ATL,BOS,937,2018-11-09,2018-11-11,111.55,108.0,108.0,2018-09-30T23:08:13
9,ATL,MIA,604,2018-10-09,2018-10-11,113.86,100.0,100.0,2018-10-01T04:41:34
10,ATL,CHI,589,2018-10-26,2018-10-31,117.38,NaN,NaN,2018-10-02T09:58:09
11,ATL,MSP,909,2018-10-11,2018-10-14,117.39,113.0,113.0,2018-10-02T03:18:59
12,ATL,PHL,666,2018-10-26,2018-10-29,117.80,NaN,NaN,2018-10-01T17:54:26
13,ATL,NYC,747,2018-10-31,2018-11-03,127.95,123.0,123.0,2018-10-01T20:13:32
14,ATL,MLB,449,2018-12-08,2018-12-10,144.03,139.0,139.0,2018-10-01T19:27:03
15,ATL,LAS,1746,2018-12-08,2018-12-11,144.39,141.0,141.0,2018-10-02T16:29:37
16,ATL,TLH,231,2018-10-30,2018-11-06,145.00,NaN,NaN,2018-10-02T16:57:12
17,ATL,DEN,1211,2018-10-12,2018-10-15,152.99,147.0,147.0,2018-09-30T23:46:34
18,ATL,DAB,371,2019-02-01,2019-02-04,153.03,147.0,147.0,2018-09-30T21:25:24
19,ATL,CLE,556,2018-12-20,2018-12-27,169.96,164.0,NaN,2018-10-01T11:27:08
20,ATL,RIC,469,2018-10-20,2018-10-24,171.56,NaN,NaN,2018-10-01T07:45:55
21,ATL,GRR,635,2018-11-03,2018-11-06,174.46,NaN,169.0,2018-10-02T12:38:21
22,ATL,CLT,226,2018-11-09,2018-11-11,182.60,176.0,176.0,2018-10-01T21:52:53
23,ATL,STL,467,2018-10-16,2018-10-17,185.29,222.0,222.0,2018-10-02T04:47:00
24,ATL,WAS,542,2019-02-14,2019-02-17,186.87,180.0,180.0,2018-09-30T21:48:53
25,ATL,MKC,674,2018-12-13,2018-12-15,187.04,180.0,180.0,2018-10-01T22:36:59
26,ATL,BNA,209,2018-11-02,2018-11-04,188.85,182.0,NaN,2018-09-30T20:45:23
27,ATL,IND,426,2018-12-18,2018-12-21,190.85,184.0,184.0,2018-09-30T20:56:29
28,ATL,BDL,852,2018-12-08,2018-12-15,197.15,NaN,223.0,2018-10-01T10:04:44
29,ATL,SAT,882,2018-11-09,2018-11-11,198.05,191.0,191.0,2018-09-30T23:06:08
...,...,...,...,...,...,...,...,...,...
1238,JNB,OUA,3327,2018-11-30,2019-01-12,759.32,NaN,NaN,2018-10-01T07:01:39
1239,JNB,SGN,5865,2018-12-22,2019-01-03,763.39,NaN,NaN,2018-09-30T20:43:18
1240,JNB,TYO,8423,2018-10-22,2018-11-13,772.16,NaN,NaN,2018-10-02T16:33:21
1241,JNB,PER,5172,2019-04-10,2019-05-28,780.15,NaN,NaN,2018-10-01T17:27:34
1242,JNB,LAX,10374,2019-03-20,2019-05-10,806.40,NaN,NaN,2018-10-01T20:48:44
1243,JNB,YMQ,8039,2019-02-04,2019-02-20,841.79,NaN,NaN,2018-10-01T18:35:17
1244,JNB,RRG,2285,2018-12-12,2018-12-18,843.21,NaN,NaN,2018-10-01T19:22:19
1245,JNB,SPU,4882,2018-12-14,2019-01-13,844.61,NaN,NaN,2018-10-01T11:41:52
1246,JNB,HOU,9022,2018-10-09,2018-10-14,852.21,NaN,NaN,2018-10-01T21:56:25
1247,JNB,AMM,4031,2018-12-25,2019-01-07,852.48,NaN,NaN,2018-10-01T06:51:14
1248,JNB,ZRH,5233,2019-06-21,2019-07-05,858.03,NaN,NaN,2018-10-01T15:38:46
1249,JNB,BAK,4819,2018-12-11,2018-12-22,859.07,NaN,NaN,2018-10-01T14:29:46
1250,JNB,SHE,7674,2019-03-06,2019-03-07,901.55,NaN,NaN,2018-10-02T08:49:51
1251,JNB,GLA,5988,2018-12-22,2018-12-29,907.00,NaN,NaN,2018-10-02T09:53:15
1252,JNB,CEB,6905,2018-10-16,2018-11-13,918.21,NaN,NaN,2018-10-01T00:34:29
1253,JNB,AKL,7582,2019-04-24,2019-07-08,920.22,NaN,NaN,2018-10-01T07:08:16
1254,JNB,CHC,7130,2018-11-10,2018-11-24,962.29,NaN,NaN,2018-10-02T06:09:46
1255,JNB,YVR,10235,2018-12-01,2019-01-12,968.41,NaN,NaN,2018-10-02T06:04:57
1256,JNB,LIM,6773,2019-03-04,2019-05-27,976.39,NaN,NaN,2018-10-02T11:55:14
1257,JNB,HBA,6319,2019-02-09,2019-03-29,986.98,NaN,NaN,2018-10-02T19:46:33
1258,JNB,SYD,6869,2019-01-07,2019-01-12,993.63,NaN,1424.0,2018-10-02T18:17:15
1259,JNB,DEN,9607,2018-11-16,2018-12-07,1052.12,NaN,NaN,2018-10-02T20:02:39
1260,JNB,USM,5428,2018-12-11,2018-12-21,1134.71,NaN,NaN,2018-10-02T08:30:14
1261,JNB,DTT,8469,2018-12-25,2019-01-01,1148.21,NaN,NaN,2018-10-02T04:20:48
1262,JNB,ORL,8180,2018-12-23,2018-12-31,1198.07,NaN,NaN,2018-10-01T13:07:39
1263,JNB,KOS,5652,2019-01-02,2019-01-10,1342.99,NaN,NaN,2018-10-02T09:48:10
1264,JNB,KIN,7665,2019-02-11,2019-02-16,1355.39,NaN,NaN,2018-10-02T06:34:46
1265,JNB,CUN,8354,2018-12-01,2019-01-05,1414.74,NaN,NaN,2018-10-01T15:12:39
1266,JNB,HLE,2607,2018-11-10,2018-11-24,1425.36,NaN,NaN,2018-10-01T20:31:47
1267,JNB,CHQ,4279,2018-10-11,2018-10-12,2732.85,NaN,NaN,2018-10-01T17:21:41

In [4]:
prices_df["Layover Savings"]=prices_df["Cheapest Direct Price"]-prices_df["Cheapest Price"]

In [5]:
savings=prices_df["Layover Savings"].value_counts(ascending=True, dropna=True)
savings

-3.0       1
-8.0       1
 1.0       1
-16.0      1
 19.0      1
-14.0      1
-12.0      1
-67.0      1
-2.0       2
 0.0     283
Name: Layover Savings, dtype: int64

In [7]:
nyprices=prices_df[prices_df["Origin"]=="NYC"]
nyprices

,Origin,Destination,Distance (Miles),Departure Date,Return Date,Price (USD),Cheapest Direct Price,Cheapest Price,Purchase Time,Layover Savings
204,NYC,FLL,1068,2018-10-29,2018-11-01,83.23,NaN,NaN,2018-10-02T17:52:28,NaN
205,NYC,ORL,940,2018-10-21,2018-10-31,101.98,NaN,NaN,2018-10-02T16:21:36,NaN
206,NYC,MIA,1092,2019-01-22,2019-01-30,102.37,99.0,99.0,2018-10-02T19:22:15,0.0
207,NYC,CHI,712,2018-10-13,2018-10-17,103.97,100.0,103.0,2018-10-02T19:18:09,-3.0
208,NYC,DEN,1629,2018-10-31,2018-11-07,114.62,110.0,110.0,2018-10-01T16:52:58,0.0
209,NYC,MYR,555,2018-10-27,2018-10-28,117.39,NaN,NaN,2018-10-02T13:56:26,NaN
210,NYC,DFW,1370,2018-10-23,2018-10-31,120.38,NaN,NaN,2018-10-02T11:23:52,NaN
211,NYC,WAS,204,2018-11-17,2018-12-03,120.89,116.0,116.0,2018-10-01T02:32:50,0.0
212,NYC,SYR,195,2018-10-30,2018-11-04,126.18,NaN,NaN,2018-10-01T17:25:34,NaN
213,NYC,SAV,715,2018-11-16,2018-11-19,129.55,118.0,118.0,2018-10-02T20:02:36,0.0
214,NYC,ATL,747,2018-10-27,2018-10-30,133.94,133.0,133.0,2018-10-02T10:55:40,0.0
215,NYC,ROC,251,2018-11-09,2018-11-11,141.82,137.0,137.0,2018-09-30T23:16:52,0.0
216,NYC,CLT,532,2019-03-06,2019-03-11,149.39,144.0,NaN,2018-10-01T18:30:16,NaN
217,NYC,BOS,190,2018-12-30,2019-01-03,150.82,145.0,145.0,2018-10-02T00:14:44,0.0
218,NYC,MSY,1169,2018-10-09,2018-10-16,153.73,NaN,NaN,2018-10-02T16:15:15,NaN
219,NYC,HOU,1420,2018-10-24,2018-10-31,156.68,151.0,151.0,2018-10-01T01:01:31,0.0
220,NYC,RDU,423,2018-12-28,2018-12-31,158.17,152.0,152.0,2018-10-02T03:28:50,0.0
221,NYC,TYS,639,2018-11-01,2018-11-06,159.04,153.0,153.0,2018-09-30T20:57:02,0.0
222,NYC,DTT,481,2018-11-09,2018-11-11,160.37,NaN,NaN,2018-10-02T11:08:40,NaN
223,NYC,YTO,342,2019-02-06,2019-02-09,161.04,155.0,155.0,2018-10-01T13:04:29,0.0
224,NYC,ORF,293,2018-10-26,2018-10-30,161.21,NaN,NaN,2018-10-02T14:44:03,NaN
225,NYC,PIT,315,2018-12-15,2018-12-18,163.04,NaN,NaN,2018-10-01T06:32:39,NaN
226,NYC,BUF,292,2018-10-22,2018-11-03,164.93,159.0,159.0,2018-10-01T14:15:27,0.0
227,NYC,MSP,1017,2018-11-06,2018-11-27,169.99,NaN,NaN,2018-10-02T12:14:48,NaN
228,NYC,LAS,2233,2018-10-29,2018-10-31,170.57,164.0,164.0,2018-10-02T20:02:14,0.0
229,NYC,BNA,755,2018-12-01,2018-12-08,174.47,168.0,168.0,2018-10-02T00:43:58,0.0
230,NYC,PBI,1028,2018-10-24,2018-10-25,175.42,169.0,169.0,2018-10-02T03:52:52,0.0
231,NYC,CHA,730,2018-11-09,2018-11-11,176.99,NaN,NaN,2018-10-02T07:18:29,NaN
232,NYC,OKC,1326,2018-10-24,2018-10-27,179.31,NaN,NaN,2018-10-01T20:27:40,NaN
233,NYC,JAX,836,2018-10-16,2018-10-23,181.09,NaN,175.0,2018-10-01T18:16:46,NaN
...,...,...,...,...,...,...,...,...,...,...
574,NYC,FNA,4321,2018-11-24,2018-12-16,1025.22,NaN,NaN,2018-10-02T03:56:56,NaN
575,NYC,KBL,6743,2018-12-01,2019-01-14,1034.56,NaN,NaN,2018-10-01T19:28:10,NaN
576,NYC,BJL,3926,2018-11-07,2019-02-07,1040.25,NaN,NaN,2018-10-01T18:35:59,NaN
577,NYC,CNS,9569,2018-11-15,2018-12-07,1043.68,NaN,NaN,2018-10-01T11:45:25,NaN
578,NYC,KUT,5483,2018-10-06,2018-10-19,1045.48,NaN,NaN,2018-10-02T16:47:46,NaN
579,NYC,BKO,4412,2018-10-09,2018-10-17,1055.32,NaN,NaN,2018-10-01T11:53:10,NaN
580,NYC,PEW,6837,2018-10-30,2018-11-21,1058.26,NaN,NaN,2018-10-01T13:19:35,NaN
581,NYC,PSR,4338,2018-12-19,2018-12-29,1085.27,NaN,NaN,2018-10-01T09:16:06,NaN
582,NYC,SKT,7001,2019-01-07,2019-02-10,1090.71,NaN,NaN,2018-10-02T19:57:34,NaN
583,NYC,BPN,9639,2018-12-05,2018-12-17,1094.69,NaN,NaN,2018-10-02T15:30:16,NaN
584,NYC,GBE,7814,2019-04-01,2019-04-20,1110.26,NaN,NaN,2018-10-01T16:51:53,NaN
585,NYC,ILO,8741,2019-07-19,2019-08-22,1137.56,NaN,NaN,2018-10-02T02:33:35,NaN
586,NYC,NJF,6068,2018-10-23,2018-11-08,1145.52,NaN,NaN,2018-10-02T01:51:22,NaN
587,NYC,SIA,7250,2018-12-24,2019-01-24,1179.91,NaN,NaN,2018-09-30T20:19:33,NaN
588,NYC,DTM,3777,2019-08-07,2019-09-07,1223.71,NaN,NaN,2018-10-02T19:42:14,NaN
589,NYC,IPC,5213,2018-10-23,2018-11-09,1245.21,NaN,NaN,2018-10-02T07:57:34,NaN
590,NYC,ASB,6231,2018-10-18,2018-12-29,1263.77,NaN,NaN,2018-10-01T23:47:50,NaN
591,NYC,TCQ,4073,2018-12-24,2018-12-25,1277.25,NaN,NaN,2018-10-02T15:17:52,NaN
592,NYC,RAI,3505,2018-12-27,2019-01-03,1334.65,NaN,NaN,2018-09-30T21:51:20,NaN
593,NYC,HTA,6021,2018-12-27,2019-01-05,1357.63,NaN,NaN,2018-10-01T15:58:29,NaN
594,NYC,URT,8977,2019-01-05,2019-01-12,1431.90,NaN,NaN,2018-10-01T07:55:29,NaN
595,NYC,KHH,7978,2018-12-22,2019-01-01,1452.12,NaN,NaN,2018-10-01T16:15:08,NaN
596,NYC,LUN,7559,2018-12-20,2019-01-20,1475.59,NaN,NaN,2018-10-02T19:43:59,NaN
597,NYC,CFU,4699,2019-09-06,2019-09-09,1505.95,NaN,NaN,2018-10-02T15:19:30,NaN
598,NYC,BNE,9644,2018-12-13,2019-01-10,1531.37,NaN,NaN,2018-10-01T02:12:40,NaN
599,NYC,DYU,6487,2019-03-05,2019-03-19,1578.39,NaN,NaN,2018-10-01T01:53:35,NaN
600,NYC,GUM,7957,2018-10-11,2018-10-18,1938.16,NaN,NaN,2018-10-02T17:23:23,NaN
601,NYC,PHC,5540,2018-12-27,2019-01-07,1987.48,NaN,NaN,2018-10-01T01:37:30,NaN
602,NYC,RAR,6960,2019-03-29,2019-04-11,2155.35,NaN,NaN,2018-10-02T10:06:53,NaN
603,NYC,WDH,7284,2019-09-11,2019-09-26,3399.54,NaN,NaN,2018-09-30T22:28:27,NaN

In [8]:
# Gather purchased ticket data (eceonomy class) from the last 48 hours
hubs=["NYC"]
# leaving [Atlanta, New York City, Hong Kong, Paris, Rio de Janiero, Johannesburg]

# Desired data
prices=[]
origins=[]
destinations=[]
distances=[]
departs=[]
returns=[]
purchases=[]
directs=[]
cheapests=[]
# transfers=[]


# Request up to 500 flights from each hub 
for hub in hubs:
    print(f"Searching flights out of {hub}")
    prices_url=f"http://api.travelpayouts.com/v2/prices/latest?currency=usd&limit=500&origin={hub}"
    headers = {"X-Access-Token": "f2b1a8fac25474496ea091529cddd0ec",
             }
    prices_data = requests.get(prices_url, headers=headers).json()

    for i in prices_data["data"]:
        destination=i["destination"]
        depart=i["depart_date"]
        returnon=i["return_date"]
#       Pull data for cheapest direct flight of the same parameters
        direct_data = requests.get(f"http://api.travelpayouts.com/v1/prices/direct?currency=USD&origin={hub}&destination={destination}&depart_date={depart}&return_date={returnon}", headers=headers).json()
        try:
            direct=direct_data["data"][destination]["0"]["price"]
        except:
            direct=float('nan')    
        directs.append(direct)
#       Pull data for cheapest flight of the same parameters
        cheap_data = requests.get(f"http://api.travelpayouts.com/v1/prices/cheap?currency=USD&origin={hub}&destination={destination}&depart_date={depart}&return_date={returnon}", headers=headers).json()
        try:
            cheapest=cheap_data["data"][destination]["0"]["price"]
        except:
            cheapest=float('nan')
        print(f"From {hub} to {destination}.")
        cheapests.append(cheapest)
        prices.append(i["value"])
        origins.append(hub)
        destinations.append(destination)
        distances.append(int(int(i["distance"])//1.609)) #convert km to miles
        departs.append(depart)
        purchases.append(i["found_at"])
        returns.append(returnon)

# Store data into dataframe 
nycprices_df=pd.DataFrame({"Origin":origins,
                        "Destination":destinations,
                        "Distance (Miles)":distances,
                        "Departure Date":departs,
                        "Return Date":returns,
                        "Price (USD)":prices,
                        "Cheapest Direct Price":directs,
                        "Cheapest Price":cheapests,
#                         "Layovers":transfers,
                        "Purchase Time":purchases
                       })

Searching flights out of NYC
From NYC to FLL.
From NYC to ORL.
From NYC to MIA.
From NYC to CHI.
From NYC to DEN.
From NYC to MYR.
From NYC to DFW.
From NYC to WAS.
From NYC to SYR.
From NYC to SAV.
From NYC to ATL.
From NYC to ROC.
From NYC to CLT.
From NYC to BOS.
From NYC to MSY.
From NYC to HOU.
From NYC to RDU.
From NYC to TYS.
From NYC to DTT.
From NYC to YTO.
From NYC to ORF.
From NYC to PIT.
From NYC to BUF.
From NYC to MSP.
From NYC to LAS.
From NYC to BNA.
From NYC to PBI.
From NYC to CHA.
From NYC to OKC.
From NYC to JAX.
From NYC to CLE.
From NYC to LAX.
From NYC to TPA.
From NYC to OMA.
From NYC to AVL.
From NYC to CMH.
From NYC to YMQ.
From NYC to RIC.
From NYC to IND.
From NYC to MEX.
From NYC to GSO.
From NYC to REK.
From NYC to GRR.
From NYC to SAT.
From NYC to AUS.
From NYC to FDF.
From NYC to SLC.
From NYC to BQN.
From NYC to CHS.
From NYC to PDX.
From NYC to SRQ.
From NYC to SAN.
From NYC to PHL.
From NYC to SJU.
From NYC to RNO.
From NYC to CUN.
From NYC to SDQ.
From NYC to PHX.
From NYC to FMY.
From NYC to SFO.
From NYC to YHZ.
From NYC to SEA.
From NYC to LEX.
From NYC to ILM.
From NYC to STL.
From NYC to CVG.
From NYC to GSP.
From NYC to TUL.
From NYC to OAK.
From NYC to BUR.
From NYC to ONT.
From NYC to BTV.
From NYC to DAB.
From NYC to BGI.
From NYC to PAR.
From NYC to YWG.
From NYC to BWI.
From NYC to ASE.
From NYC to BCN.
From NYC to GNV.
From NYC to AMS.
From NYC to SAP.
From NYC to MKE.
From NYC to SJC.
From NYC to CPH.
From NYC to OSL.
From NYC to SNA.
From NYC to GEG.
From NYC to BRU.
From NYC to HAV.
From NYC to BDA.
From NYC to ROM.
From NYC to EYW.
From NYC to SAC.
From NYC to SJO.
From NYC to LGB.
From NYC to CAE.
From NYC to LON.
From NYC to ROA.
From NYC to ILE.
From NYC to CUR.
From NYC to STI.
From NYC to PLS.
From NYC to CTG.
From NYC to ELP.
From NYC to PAP.
From NYC to YYC.
From NYC to LIT.
From NYC to CKB.
From NYC to MBJ.
From NYC to STO.
From NYC to YVR.
From NYC to MFR.
From NYC to GUA.
From NYC to SJD.
From NYC to YQB.
From NYC to PNS.
From NYC to BFF.
From NYC to SNU.
From NYC to POP.
From NYC to PUJ.
From NYC to FRA.
From NYC to DUB.
From NYC to SXM.
From NYC to TLL.
From NYC to KIN.
From NYC to FAT.
From NYC to MAD.
From NYC to GCM.
From NYC to MOW.
From NYC to PTY.
From NYC to FWA.
From NYC to PGD.
From NYC to SAL.
From NYC to MID.
From NYC to YLW.
From NYC to POS.
From NYC to DSM.
From NYC to GFK.
From NYC to NAS.
From NYC to BOG.
From NYC to UIO.
From NYC to LED.
From NYC to FOC.
From NYC to JAC.
From NYC to ZRH.
From NYC to SNN.
From NYC to MTJ.
From NYC to LIS.
From NYC to AUA.
From NYC to CEB.
From NYC to WAW.
From NYC to VIE.
From NYC to BER.
From NYC to LUX.
From NYC to PUW.
From NYC to ANC.
From NYC to MNL.
From NYC to CLO.
From NYC to STT.
From NYC to TPE.
From NYC to OKA.
From NYC to GCN.
From NYC to MOB.
From NYC to MLM.
From NYC to MIL.
From NYC to CGN.
From NYC to IEV.
From NYC to SHA.
From NYC to SZX.
From NYC to VLC.
From NYC to CKG.
From NYC to BJS.
From NYC to DEL.
From NYC to RIX.
From NYC to IST.
From NYC to BUD.
From NYC to BKK.
From NYC to ZAG.
From NYC to TYO.
From NYC to BLQ.
From NYC to GVA.
From NYC to ATH.
From NYC to KUL.
From NYC to MDE.
From NYC to SHE.
From NYC to CTA.
From NYC to DBV.
From NYC to TUN.
From NYC to HEL.
From NYC to SIN.
From NYC to KRK.
From NYC to GYE.
From NYC to CAN.
From NYC to BUH.
From NYC to SEL.
From NYC to AGS.
From NYC to DPS.
From NYC to SGN.
From NYC to BZE.
From NYC to EAP.
From NYC to SVQ.
From NYC to PRG.
From NYC to JKT.
From NYC to MSQ.
From NYC to WNZ.
From NYC to HKG.
From NYC to HAM.
From NYC to HKT.
From NYC to BOM.
From NYC to PSE.
From NYC to BJX.
From NYC to SLU.
From NYC to EVN.
From NYC to ODS.
From NYC to BAQ.
From NYC to RAK.
From NYC to TSE.
From NYC to LIM.
From NYC to TIA.
From NYC to LWO.
From NYC to FLR.
From NYC to SAO.
From NYC to GLA.
From NYC to SJJ.
From NYC to DUS.
From NYC to RTB.
From NYC to TLV.
From NYC to CMB.
From NYC to HOG.
From NYC to PUS.
From NYC to GGT.
From NYC to NCE.
From NYC to HNL.
From NYC to MEI.
From NYC to MUC.
From NYC to VCE.
From NYC to TBS.
From NYC to OSA.
From NYC to TLS.
From NYC to DXB.
From NYC to SKP.
From NYC to MFE.
From NYC to KIV.
From NYC to LCG.
From NYC to VGO.
From NYC to AYT.
From NYC to OPO.
From NYC to GEO.
From NYC to LYS.
From NYC to SVX.
From NYC to CCS.
From NYC to CAS.
From NYC to ALG.
From NYC to CCU.
From NYC to PTP.
From NYC to HYS.
From NYC to BEY.
From NYC to SKD.
From NYC to NUE.
From NYC to JMK.
From NYC to KGD.
From NYC to OGG.
From NYC to SIP.
From NYC to COS.
From NYC to TAS.
From NYC to EDI.
From NYC to AMM.
From NYC to BGA.
From NYC to AGP.
From NYC to SCL.
From NYC to FRU.
From NYC to PSO.
From NYC to LPB.
From NYC to BUE.
From NYC to CAI.
From NYC to PIU.
From NYC to GDL.
From NYC to GRZ.
From NYC to ROV.
From NYC to SKG.
From NYC to CUZ.
From NYC to HAN.
From NYC to SSH.
From NYC to PSC.
From NYC to BAK.
From NYC to BHZ.
From NYC to HER.
From NYC to KUF.
From NYC to CNY.
From NYC to RIO.
From NYC to ISB.
From NYC to SSA.
From NYC to ATQ.
From NYC to ALA.
From NYC to DAD.
From NYC to JAU.
From NYC to LHE.
From NYC to DAC.
From NYC to IXE.
From NYC to HRK.
From NYC to CPT.
From NYC to JNU.
From NYC to KRR.
From NYC to MDZ.
From NYC to MRV.
From NYC to SCQ.
From NYC to BOD.
From NYC to AER.
From NYC to SRZ.
From NYC to MAA.
From NYC to KTM.
From NYC to ASU.
From NYC to CKY.
From NYC to MLW.
From NYC to LOS.
From NYC to MLE.
From NYC to ITO.
From NYC to ORK.
From NYC to PEI.
From NYC to VOZ.
From NYC to OVB.
From NYC to ACC.
From NYC to TRV.
From NYC to BLR.
From NYC to KGF.
From NYC to LCA.
From NYC to ADD.
From NYC to MEL.
From NYC to ABJ.
From NYC to MVD.
From NYC to COK.
From NYC to BTS.
From NYC to JED.
From NYC to MED.
From NYC to DKR.
From NYC to ABV.
From NYC to PLQ.
From NYC to TGD.
From NYC to AMD.
From NYC to KHI.
From NYC to JTR.
From NYC to NUX.
From NYC to CGO.
From NYC to CGR.
From NYC to AXM.
From NYC to CAY.
From NYC to HYD.
From NYC to KZN.
From NYC to ACE.
From NYC to SHJ.
From NYC to LEJ.
From NYC to CJB.
From NYC to LFW.
From NYC to POA.
From NYC to OZH.
From NYC to SVD.
From NYC to SYD.
From NYC to FOR.
From NYC to ADA.
From NYC to RUH.
From NYC to OUA.
From NYC to CHQ.
From NYC to USM.
From NYC to KWI.
From NYC to LKO.
From NYC to VVO.
From NYC to NBO.
From NYC to ADZ.
From NYC to KJA.
From NYC to RZE.
From NYC to FNA.
From NYC to KBL.
From NYC to BJL.
From NYC to CNS.
From NYC to KUT.
From NYC to BKO.
From NYC to PEW.
From NYC to PSR.
From NYC to SKT.
From NYC to BPN.
From NYC to GBE.
From NYC to ILO.
From NYC to NJF.
From NYC to DTM.
From NYC to IPC.
From NYC to ASB.
From NYC to TCQ.
From NYC to RAI.
From NYC to HTA.
From NYC to URT.
From NYC to KHH.
From NYC to LUN.
From NYC to CFU.
From NYC to BNE.
From NYC to DYU.
From NYC to GUM.
From NYC to PHC.
From NYC to RAR.
From NYC to WDH.

In [9]:

nycprices_df

,Origin,Destination,Distance (Miles),Departure Date,Return Date,Price (USD),Cheapest Direct Price,Cheapest Price,Purchase Time
0,NYC,FLL,1068,2018-10-29,2018-11-01,83.23,NaN,NaN,2018-10-02T17:52:28
1,NYC,ORL,940,2018-10-21,2018-10-31,101.98,NaN,NaN,2018-10-02T16:21:36
2,NYC,MIA,1092,2019-01-22,2019-01-30,102.37,99.0,99.0,2018-10-02T19:22:15
3,NYC,CHI,712,2018-10-13,2018-10-17,103.97,100.0,103.0,2018-10-02T19:18:09
4,NYC,DEN,1629,2018-10-31,2018-11-07,114.62,110.0,110.0,2018-10-01T16:52:58
5,NYC,MYR,555,2018-10-27,2018-10-28,117.39,NaN,NaN,2018-10-02T13:56:26
6,NYC,DFW,1370,2018-10-25,2018-10-31,120.38,116.0,116.0,2018-10-02T02:30:05
7,NYC,WAS,204,2018-11-17,2018-12-03,120.89,116.0,116.0,2018-10-01T02:32:50
8,NYC,SYR,195,2018-10-30,2018-11-04,126.18,NaN,122.0,2018-10-01T17:25:34
9,NYC,SAV,715,2018-11-16,2018-11-19,129.55,118.0,118.0,2018-10-02T20:13:45
10,NYC,ATL,747,2018-10-27,2018-10-30,133.94,129.0,129.0,2018-10-02T10:55:40
11,NYC,ROC,251,2018-11-09,2018-11-11,141.82,137.0,137.0,2018-09-30T23:16:52
12,NYC,CLT,532,2019-03-06,2019-03-11,149.39,144.0,144.0,2018-10-01T18:30:16
13,NYC,BOS,190,2018-12-30,2019-01-03,150.82,145.0,145.0,2018-10-02T00:14:44
14,NYC,MSY,1169,2018-10-09,2018-10-16,153.73,NaN,NaN,2018-10-02T16:15:15
15,NYC,HOU,1420,2018-10-24,2018-10-31,156.68,151.0,151.0,2018-10-01T01:01:31
16,NYC,RDU,423,2018-12-28,2018-12-31,158.17,152.0,152.0,2018-10-02T03:28:50
17,NYC,TYS,639,2018-11-01,2018-11-06,159.04,153.0,153.0,2018-09-30T20:57:02
18,NYC,DTT,481,2018-11-09,2018-11-11,160.37,155.0,NaN,2018-10-02T11:08:40
19,NYC,YTO,342,2019-02-06,2019-02-09,161.04,155.0,155.0,2018-10-01T13:04:29
20,NYC,ORF,293,2018-10-26,2018-10-30,161.21,NaN,NaN,2018-10-02T14:44:03
21,NYC,PIT,315,2018-12-15,2018-12-18,163.04,NaN,NaN,2018-10-01T06:32:39
22,NYC,BUF,292,2018-10-22,2018-11-03,164.93,159.0,159.0,2018-10-01T14:15:27
23,NYC,MSP,1017,2018-11-06,2018-11-27,169.99,NaN,185.0,2018-10-02T12:14:48
24,NYC,LAS,2233,2018-10-29,2018-10-31,170.57,164.0,164.0,2018-10-02T20:25:35
25,NYC,BNA,755,2018-12-01,2018-12-08,174.47,168.0,168.0,2018-10-02T00:43:58
26,NYC,PBI,1028,2018-10-24,2018-10-25,175.42,169.0,169.0,2018-10-02T03:52:52
27,NYC,CHA,730,2018-11-09,2018-11-11,176.99,171.0,NaN,2018-10-02T07:18:29
28,NYC,OKC,1326,2018-10-24,2018-10-27,179.31,173.0,NaN,2018-10-01T20:27:40
29,NYC,JAX,836,2018-10-16,2018-10-23,181.09,NaN,NaN,2018-10-01T18:16:46
...,...,...,...,...,...,...,...,...,...
370,NYC,RZE,4379,2018-12-23,2019-01-25,1025.14,NaN,NaN,2018-10-01T21:15:36
371,NYC,FNA,4321,2018-11-24,2018-12-16,1025.22,NaN,NaN,2018-10-02T03:56:56
372,NYC,KBL,6743,2018-12-01,2019-01-14,1034.56,NaN,NaN,2018-10-01T19:28:10
373,NYC,BJL,3926,2018-11-07,2019-02-07,1040.25,NaN,NaN,2018-10-01T18:35:59
374,NYC,CNS,9569,2018-11-15,2018-12-07,1043.68,NaN,NaN,2018-10-01T11:45:25
375,NYC,KUT,5483,2018-10-06,2018-10-19,1045.48,NaN,NaN,2018-10-02T16:47:46
376,NYC,BKO,4412,2018-10-17,2019-01-12,1055.32,NaN,NaN,2018-10-01T17:16:14
377,NYC,PEW,6837,2018-10-30,2018-11-21,1058.26,NaN,NaN,2018-10-01T13:19:35
378,NYC,PSR,4338,2018-12-19,2018-12-29,1085.27,NaN,NaN,2018-10-01T09:16:06
379,NYC,SKT,7001,2019-01-07,2019-02-10,1090.71,NaN,NaN,2018-10-02T19:57:34
380,NYC,BPN,9639,2018-12-05,2018-12-17,1094.69,NaN,NaN,2018-10-02T15:30:16
381,NYC,GBE,7814,2019-04-01,2019-04-20,1110.26,NaN,NaN,2018-10-01T16:51:53
382,NYC,ILO,8741,2019-07-19,2019-08-22,1137.56,NaN,NaN,2018-10-02T02:33:35
383,NYC,NJF,6068,2018-10-23,2018-11-08,1145.52,NaN,NaN,2018-10-02T01:51:22
384,NYC,DTM,3777,2019-08-07,2019-09-07,1223.71,NaN,NaN,2018-10-02T19:42:14
385,NYC,IPC,5213,2018-10-23,2018-11-09,1245.21,NaN,NaN,2018-10-02T07:57:34
386,NYC,ASB,6231,2018-10-18,2018-12-29,1263.77,NaN,NaN,2018-10-01T23:47:50
387,NYC,TCQ,4073,2018-12-24,2018-12-25,1277.25,NaN,NaN,2018-10-02T15:17:52
388,NYC,RAI,3505,2018-12-27,2019-01-03,1334.65,NaN,NaN,2018-09-30T21:51:20
389,NYC,HTA,6021,2018-12-27,2019-01-05,1357.63,NaN,NaN,2018-10-01T15:58:29
390,NYC,URT,8977,2019-01-05,2019-01-12,1431.90,NaN,NaN,2018-10-01T07:55:29
391,NYC,KHH,7978,2018-12-22,2019-01-01,1452.12,NaN,NaN,2018-10-01T16:15:08
392,NYC,LUN,7559,2018-12-20,2019-01-20,1475.59,NaN,NaN,2018-10-02T19:43:59
393,NYC,CFU,4699,2019-09-06,2019-09-09,1505.95,NaN,NaN,2018-10-02T15:19:30
394,NYC,BNE,9644,2018-12-13,2019-01-10,1531.37,NaN,NaN,2018-10-01T02:12:40
395,NYC,DYU,6487,2019-03-05,2019-03-19,1578.39,NaN,NaN,2018-10-01T01:53:35
396,NYC,GUM,7957,2018-10-11,2018-10-18,1938.16,NaN,NaN,2018-10-02T17:23:23
397,NYC,PHC,5540,2018-12-27,2019-01-07,1987.48,NaN,NaN,2018-10-01T01:37:30
398,NYC,RAR,6960,2019-03-29,2019-04-11,2155.35,NaN,NaN,2018-10-02T10:06:53
399,NYC,WDH,7284,2019-09-11,2019-09-26,3399.54,NaN,NaN,2018-09-30T22:28:27

In [19]:
nyccounts=nycprices_df["Cheapest Direct Price"].value_counts(ascending=True)

KeyError: 'NaN'